version: 2
updates:
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "weekly"
    labels:
      - "dependencies"
      - "automerge"

  # Python (pip / pip-tools)
  - package-ecosystem: "pip"
    directory: "/"
    schedule:
      interval: "weekly"
